


img {

 
    width:75%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border: 5px solid rgb(0, 0, 0);
    border-radius:12px;
    margin:0px;
    text-align: center;
}

h1 {
    font-size: 450%;
    font-weight: 500;
    background-color:rgb(133, 255, 233);
display: flex;
color: #ffffff;

font-family: 'Courier New', monospace;
flex-direction: column;
height:500px;
justify-content: center;
align-items:center;

}

h2 {
    font-weight: 500;
    font-size: 350%;
    background-color:rgb(0, 0, 0);
display: flex;
color: #ffffff;
font-family:'Courier New', monospace;
border-radius: 23px;
margin:10px;
padding:23px;
flex-direction: column;
height:123px;
justify-content: center;
align-items:center;
  
}

p{
    font-size: 250%;
    font-weight: 50;
    color: #00157c;
    text-align: center; 
    font-family: 'Courier New', monospace;
    background-color:rgb(255, 255, 255);
justify-content: center;
align-items:center;
padding:3px;
padding-left: 15%;
padding-right: 15%;

}

img:hover{
    border:10px solid rgb(0, 21, 155);

}

h3 {
    font-size: 250%;
    font-weight: 200;
    background-color:rgb(0, 0, 0);
display: flex;
margin:10px;
font-family: 'Courier New', monospace;
color: #ffffff;
padding:23px;
border-radius:12px;

flex-direction: column;
height:30px;
justify-content: center;
align-items:center;
}

h4 {
    font-weight: 200;
    font-size: 350%;
display: flex;
color: #000000;
font-family: 'Courier New', monospace;

margin:100px;
padding-top: 33px;
flex-direction: column;
height:13px;
justify-content: center;
align-items:center;
  
}


h6{
    color: rgb(0, 0, 0);
    font-size: 250%;
    font-weight: 900;
   
    text-align: center; 
    font-family: 'Courier New', monospace;
    background-color:rgb(255, 255, 255);
justify-content: center;
align-items:center;
padding:23px;
padding-top: 33px;
padding-left: 15%;
padding-right: 15%;

}

